{% extends "base.html" %}
{% block content %}

{% set content=page.meta.get("content", {}) %}

<style>
  .card-columns div {
    height: 200px;
  }

  .card-columns img {
    height: 160px;
  }

  .card-columns a {
    text-decoration: None;
  }

  footer.citation * {
    margin-top: 20px;
    font-size: 10px !important;
    font-style: italic !important;
  }
  .welcome-section {
    background-image: url("/images/home/header.png");
    background-size: cover;
    color: white;
    padding: 100px 0;
  }

  .welcome-section *,
  .card-text,
  .card-title {
    color: #333333 !important;
  }

  .card-title {
    font-weight: bold !important;
  }
  .overlay {
    background-color: rgba(
      255,
      255,
      255,
      0.7
    ); /* Black background with 50% opacity */
    color: white;
    padding: 100px 0;
  }
</style>

<div class="container-fluid welcome-section">
  <div class="overlay">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Welcome to Open Research Network (ORN)</h1>
        <h2>
          Fostering innovation and collaboration with open science practices and
          state of art open source libraries and tools.
        </h2>
      </div>
    </div>
  </div>
</div>

<section class="wrap content extra" id="home">
  <div class="container pb-3">
    <div class="row my-1">
      <div class="col-md-6">
        <h2>Our Mission</h2>
        <p>
          {{ content.our_mission }}
        </p>
      </div>
      <div class="col-md-6">
        <h2>Supported by Programs and Partners</h2>
        <p>
          {{ content.supported_by }}
        </p>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-12">
        <h2>ORN Space: A Collaborative Hub</h2>
        {{ content.open_space }}
      </div>
    </div>

    <div class="row my-1">
      <div class="col-12">
        <h2>Collaboration Over Competition</h2>
        <p>
          {{ content.collaboration_vs_competition }}
        </p>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-12">
        <h2>Joining ORN</h2>
        <p>
          {{ content.call_joining_orn }}
        </p>
      </div>

      {% set affiliations = content.get("affiliations", {}) %}
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Organization Collaborative Affiliation</h5>
              <p class="card-text">
                {{ affiliations.get("organizations") }}
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Organization Partners</h5>
              <p class="card-text">
                {{ affiliations.get("partnership") }}
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Member Affiliation</h5>
              <p class="card-text">
                {{ affiliations.members }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-12">
        <h2>Our Formula</h2>
        <p>
          {{ content.formula }}
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container pb-3">
    <div class="row my-1">
      <div class="col-12">
        <h2>Partnership</h2>

        <div>
          <p>{{ content.partnership}}</p>

          <p>
            If you want to be our partner, please us an email to
            <a
              href="mailto:team@opensciencelabs.org"
              target="_blank"
            >team@opensciencelabs.org</a>.
          </p>
        </div>

        <h2>Our Partners</h2>

        <div class="card-columns partners">
          <div class="card align-middle text-center">
            <a href="https://thegraphnetwork.org/">
              <img
                src="https://thegraphnetwork.org/wp-content/uploads/2021/07/Research_GRAPH_logo-2-1-1-2-3-150x150.png"
                alt="The GRAPH Network"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
