{% extends "base.html" %}
{% block header_extra %}
<style>
  .main-nav > li > a {
    color: #000000 !important;
  }
</style>

{% endblock header_extra%}

{% block content %}
<section>
  <div class="row">
    <div class="col-md-9 mx-auto">
      {% block content_inner %}
      {{ page.content }}
      {% endblock content_inner %}
    </div>
  </div>

  {% for group in page.meta["teams"] %}
  <div class="row">
    <div class="col-md-9 mx-auto pt-3">
      <h2>{{ group.name.upper() }}</h2>
      <div class="row row-cols-1 row-cols-md-3">
        {% for member in group.members %}
        <div class="col">
          <div class="card p-0 mt-3">
            <img src="{{ member.image_url }}" class="card-img-top m-0" />
            <div class="card-body">
              <h3 class="card-title">{{ member.name }}</h3>
              <p class="card-text">{{ member.bio }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock content %}
